/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>


/* flashing new u2f refer here https://github.com/superxc3/xcmkb/tree/main/list%20of%20items/list%20of%20keyboards/60percent/sofle/sofle%20zmk#part-b-flash-zmk
 * macro refer to this link https://github.com/superxc3/xcmkb/blob/main/list%20of%20guide/zmk-setup.md#zmk-macro
 * reserve
 * reserve
 */

// Layers
#define DEFAULT 0
#define CODE 	1
#define FUNC	2
#define BLE	3

// Bluetooth
#define BLE1 	&bt BT_SEL 0
#define BLE2 	&bt BT_SEL 1
#define BLE3 	&bt BT_SEL 2
#define BLE4 	&bt BT_SEL 3
#define BLE5 	&bt BT_SEL 4

//========================================================
//===================== For MacOS ========================
//========================================================
// Home row mods macro
#define HRML(k1,k2,k3,k4) &bhm LCTRL k1	&bhm LALT k2  &bhm LGUI k3  &bhm LSHFT k4
#define HRMR(k1,k2,k3,k4) &bhm RSHFT k1	&bhm RGUI k2  &bhm RALT k3  &bhm RCTRL k4

// MacOS shortcuts 
#define GUI_X 	&kp LG(X)
#define GUI_Y 	&kp LG(Y)
#define GUI_W 	&kp LG(W)
#define GUI_K  	&kp LG(K)
#define GUI_C 	&kp LG(C)
#define GUI_V	&kp LG(V)
#define GUI_Z	&kp LG(Z)
#define PSCRN_COPY &sk LG(LS(LCTRL(4)))
#define PSCRN_SAVE &sk LG(LS(4))


/ {
	behaviors {
	        bhm: balanced_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			label = "HOMEROW_MODS";
			#binding-cells = <2>;
			tapping-term-ms = <200>;    // <---[[moderate duration]]
			quick-tap-ms = <0>;
			flavor = "balanced";
			bindings = <&kp>, <&kp>;
	        };

		td0: tap_dance_0 {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_0";
			#binding-cells = <34>;
			tapping-term-ms = <150>;
			bindings = <&kp LSHFT>, <&caps_word>;
		};

		td_pscrn: tap_dance_pscrn {
			compatible = "zmk,behavior-tap-dance";
			label = "TAP_DANCE_PSCRN";
			#binding-cells = <14>;
			tapping-term-ms = <150>;
			bindings = <PSCRN_COPY>, <PSCRN_SAVE>;
		};
    	};

	combos {
			compatible = "zmk,combos";

			combo_bluetooth {
				timeout-ms = <35>;
				key-positions = <32 33>;
				bindings = <&mo 3>;
			};

			combo_grave {
				timeout-ms = <35>;
				key-positions = <0 1>;
				bindings = <&kp GRAVE>;
			};

			combo_esc {
				timeout-ms = <35>;
				key-positions = <1 2>;
				bindings = <&kp ESC>;
			};

			combo_backspace {
				timeout-ms = <50>;
				key-positions = <11 12>;
				bindings = <&kp BSPC>;
			};

			combo_delete {
				timeout-ms = <50>;
				key-positions = <12 13>;
				bindings = <&kp DEL>;
			};

			combo_left_parenthesis {
				timeout-ms = <35>;
				key-positions = <6 7>;
				bindings = <&kp LPAR>;
			};

			combo_right_parenthesis {
				timeout-ms = <35>;
				key-positions = <7 8>;
				bindings = <&kp RPAR>;
			};

			combo_semicolon {
				timeout-ms = <35>;
				key-positions = <16 17>;
				bindings = <&kp SEMI>;
			};

			combo_enter {
				timeout-ms = <50>;
				key-positions = <17 18>;
				bindings = <&kp ENTER>;
			};
	};

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings  = <
			//╭─0────────┬─1────────┬─2────────┬─3────────┬─4────────╮   ╭─5────────┬─6────────┬─7────────┬─8────────┬─9────────╮
			//│  X	     │	L	│  Y	   │  W	      │	 K	 │   │	Q	│  F	   │  U	      │	 O	 │  -	    │
			   &kp X      &kp L	  &kp Y	     &kp W	&kp K	       &kp Q	  &kp F	     &kp U	&kp O	   &kp MINUS
			//|─10───────┬─11───────┬─12───────┬─13───────┬─14───────┤   |─15───────┬─16───────┬─17───────┬─18───────┬─19───────┤
			//│  C	     │	R	│  S	   │  T	      │	 G	 │   │	B	│  N	   │  E	      │	 A	 │  I	    │
			   HRML(C,	   R,	      S,	 T)	&kp G	       &kp B	  HRMR(N,	 E,	    A,	      I)
			//|─20───────┬─21───────┬─22───────┬─23───────┬─24───────┤   |─25───────┬─26───────┬─27───────┬─28───────┬─29───────┤
			//│  J	     │	V	│  D	   │  M       │	 Z	 │   │	P	│  H	   │  , <     │  . >	 │ / ?	    │
			   &kp J      &kp V	  &kp D	     &kp M	&kp Z	       &kp P	  &kp H	     &kp COMMA	&kp DOT	   &kp FSLH
			//╰──────────┴──────────┴─30───────┼─31───────┼─32───────┤   ├─33───────┼─34───────┼─35───────┴──────────┴──────────╯
			                          &none	     &mo 1	&lt 2 TAB      &kp SPACE  &td0       &none
			//			╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
                };

                code_layer {
                        bindings = <
			//╭─0────────┬─1────────┬─2────────┬─3────────┬─4────────╮   ╭─5────────┬─6────────┬─7────────┬─8────────┬─9────────╮
			//│  1	     │	2	│  3	   │  4	      │	 5	 │   │	6	│  7	   │  8	      │	 9	 │  0	    │
			   &kp N1     &kp N2	  &kp N3     &kp N4	&kp N5	       &kp N6	  &kp N7     &kp N8	&kp N9	   &kp N0
                        //|─10───────┬─11───────┬─12───────┬─13───────┬─14───────┤   |─15───────┬─16───────┬─17───────┬─18───────┬─19───────┤
			//│  LCTRL   │	LALT	│  LGUI	   │  LSHFT   │	 PRTSCN	 │   │	\ |	│  [ {	   │  ] }     │	 ' "	 │  = +	    │
			   &kp LCTRL   &kp LALT	  &kp LGUI   &kp LSHFT	&td_pscrn      &kp BSLH  &kp LBKT   &kp RBKT	&kp SQT   &kp EQUAL 
			//|─20───────┬─21───────┬─22───────┬─23───────┬─24───────┤   |─25───────┬─26───────┬─27───────┬─28───────┬─29───────┤
			//│  F1      │	F2	│  F3      │  F4      │	 F5	 │   │	F6	│  F7      │  F8      │	 F9	 │  F10     │
			   &kp F1      &kp F2     &kp F3     &kp F4     &kp F5         &kp F6    &kp F7     &kp F8      &kp F9    &kp F10
			//╰──────────┴──────────┴─30───────┼─31───────┼─32───────┤   ├─33───────┼─34───────┼─35───────┴──────────┴──────────╯
						  &none      &trans	&trans	       &trans	  &trans    &none
			//			╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

                functional_layer {
			bindings = <
			//╭─0────────┬─1────────┬─2────────┬─3────────┬─4────────╮   ╭─5────────┬─6────────┬─7────────┬─8────────┬─9────────╮
			//│  GUI_X   │		│  GUI_Y   │  GUI_W   │	 GUI_K	 │   │	6	│  7	   │  	      │	 	 │  	    │
			   GUI_X      &none	  GUI_Y      GUI_W	GUI_K	       &kp N6	  &kp N7     &none	&none	   &none
                        //|─10───────┬─11───────┬─12───────┬─13───────┬─14───────┤   |─15───────┬─16───────┬─17───────┬─18───────┬─19───────┤
			//│  GUI_C   │	LALT	│  LGUI	   │  LSHFT   │	 PRTSCN	 │   │	PG_UP	│  HOME	   │  UP      │	 END	 │          │
			   GUI_C      &kp LALT	  &kp LGUI   &kp LSHFT	&td_pscrn      &kp PG_UP  &kp HOME   &kp UARW	&kp END    &none 
			//|─20───────┬─21───────┬─22───────┬─23───────┬─24───────┤   |─25───────┬─26───────┬─27───────┬─28───────┬─29───────┤
			//│          │	GUI_V	│     	   │          │	 GUI_Z	 │   │	PG_DN	│  LEFT    │  DOWN    │	 RIGHT	 │          │
			   &none      GUI_V       &none      &none      GUI_Z          &kp PG_DN  &kp LARW   &kp DARW   &kp RARW   &none
			//╰──────────┴──────────┴─30───────┼─31───────┼─32───────┤   ├─33───────┼─34───────┼─35───────┴──────────┴──────────╯
						  &trans      &trans	&trans	       &trans	  &trans     &trans
			//			╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};

		bluetooth_layer {
			bindings = <
			//╭─0────────┬─1────────┬─2────────┬─3────────┬─4────────╮   ╭─5────────┬─6────────┬─7────────┬─8────────┬─9────────╮
			//│ BT #1    │  BT #2	│  BT #3   │ BT #4    │ BT #5│   │		│  	   │  	      │	 	 │  	    │
			    BT1       BT2	  BT3        BT4	BT5	       &none	  &none     &none	&none	   &none
                        //|─10───────┬─11───────┬─12───────┬─13───────┬─14───────┤   |─15───────┬─16───────┬─17───────┬─18───────┬─19───────┤
			//│ BT CLR   │		│  	   │          │	 	 │   │		│  	   │          │	 	 │          │
			   &bt BT_CLR &none	  &none      &none	&none          &none	  &none     &none	&none	   &none
			//|─20───────┬─21───────┬─22───────┬─23───────┬─24───────┤   |─25───────┬─26───────┬─27───────┬─28───────┬─29───────┤
			//│          │		│     	   │          │	 	 │   │		│      	   │          │	 	 │          │
			   &none      &none       &none	     &none	&none          &none	  &none     &none	&none	   &none
			//╰──────────┴──────────┴─30───────┼─31───────┼─32───────┤   ├─33───────┼─34───────┼─35───────┴──────────┴──────────╯
						  &trans     &trans	&trans	       &trans	  &trans     &trans
			//			╰──────────┴──────────┴──────────╯   ╰──────────┴──────────┴──────────╯
			>;
		};
	};
};
