/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>


/* flashing new u2f refer here https://github.com/superxc3/xcmkb/tree/main/list%20of%20items/list%20of%20keyboards/60percent/sofle/sofle%20zmk#part-b-flash-zmk
 * macro refer to this link https://github.com/superxc3/xcmkb/blob/main/list%20of%20guide/zmk-setup.md#zmk-macro
 * reserve
 * reserve
 */

//========================================================
//===================== For MacOS ========================
//========================================================

// Home row mods macro
#define HRML(k1,k2,k3,k4) &hm LCTRL k1	&hm LALT k2  &hm LGUI k3  &hm LSHFT k4
#define HRMR(k1,k2,k3,k4) &hm RSHFT k1	&hm RGUI k2  &hm RALT k3  &hm RCTRL k4

// MacOS shortcuts 
#define GUI_C 	&kp LG(X)
#define GUI_Y 	&kp LG(Y)
#define GUI_W 	&kp LG(W)
#define GUI_K  	&kp LG(K)
#define GUI_C 	&kp LG(C)
#define GUI_V	&kp LG(V)
#define GUI_Z	&kp LG(Z)

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings  = <
			//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			//│  X	     │	L	│  Y	   │  W	      │	 K	 │   │	Q	│  F	   │  U	      │	 O	 │  -	    │
			   &kp X      &kp L	  &kp Y	     &kp W	&kp K	       &kp Q	  &kp F	     &kp U	&kp O	   &kp MINUS
			//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│  C	     │	R	│  S	   │  T	      │	 G	 │   │	B	│  N	   │  E	      │	 A	 │  I	    │
			   HRML(C,	   R,	      S,	 T)	&kp G	       &kp B	  HRMR(N,	 E,	    A,	      I)
			//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│  J	     │	V	│  D	   │  M       │	 Z	 │   │	P	│  H	   │  , <     │  . >	 │ / ?	    │
			   &kp J      &kp V	  &kp D	     &kp M	&kp Z	       &kp P	  &kp H	     &kp COMMA	&kp DOT	   &kp FSLH
			//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
			                                    &mo 1	&lt 2 TAB     &kp SPACE	 &sk LSHFT
			//				   ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
                };

                lower_layer {
                        bindings = <
			//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			//│  1	     │	2	│  3	   │  4	      │	 5	 │   │	6	│  7	   │  8	      │	 9	 │  0	    │
			   &kp N1     &kp N2	  &kp N3     &kp N4	&kp N5	       &kp N6	  &kp N7     &kp N8	&kp N9	   &kp N0
                        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│  LCTRL   │	LALT	│  LGUI	   │  LSHFT   │	 PRTSCN	 │   │	\ |	│  [ {	   │  ] }     │	 ' "	 │  = +	    │
			   &kp LCTRL   &kp LALT	  &kp LGUI   &kp LSHFT	&kp PRCNT      &kp BSLH  &kp LBKT   &kp RBKT	&kp SQT   &kp EQUAL 
			//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│  F1      │	F2	│  F3      │  F4      │	 F5	 │   │	F6	│  F7      │  F8      │	 F9	 │  F10     │
			   &kp F1      &kp F2     &kp F3     &kp F4     &kp F5         &kp F6    &kp F7     &kp F8      &kp F9    &kp F10
			//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
							     &trans	&trans	       &trans	  &trans
			//				   ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};

                raise_layer {
			bindings = <
			//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			//│  GUI_X   │		│  GUI_Y   │  GUI_W   │	 GUI_K	 │   │	6	│  7	   │  	      │	 	 │  	    │
			   GUI_X      &none	  GUI_Y      GUI_W	GUI_K	       &kp N6	  &kp N7     &none	&none	   &none
                        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│  GUI_C   │	LALT	│  LGUI	   │  LSHFT   │	 PRTSCN	 │   │	PG_UP	│  HOME	   │  UP      │	 END	 │          │
			   GUI_C      &kp LALT	  &kp LGUI   &kp LSHFT	&kp PRCNT      &kp PG_UP  &kp HOME   &kp UARW	&kp END    &none 
			//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│          │	GUI_V	│     	   │          │	 GUI_Z	 │   │	PG_DN	│  LEFT    │  DOWN    │	 RIGHT	 │          │
			   &none      GUI_V       &none      &none      GUI_Z          &kp PG_DN  &kp LARW   &kp DARW   &kp RARW   &none
			//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
							     &trans	&trans	       &trans	  &trans
			//				   ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};

		mouse_layer {
			bindings = <
			//╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
			//│  X       │  L	│  Y       │          │	 	 │   │	6	│  7	   │  	      │	 	 │  	    │
			   &kp X      &kp L	  &kp Y      &none	&none	       &kp N6	  &kp N7     &none	&none	   &none
                        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│          │	LALT	│  LGUI	   │  LSHFT   │	 PRTSCN	 │   │	PG_UP	│  HOME	   │  UP      │	 END	 │          │
			   &none      &kp LALT	  &kp LGUI   &kp LSHFT	&kp PRCNT      &kp PG_UP  &kp HOME   &kp UARW	&kp END    &none 
			//├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
			//│          │	GUI_V	│     	   │          │	 	 │   │	PG_DN	│  LEFT    │  DOWN    │	 RIGHT	 │          │
			   &none      GUI_V       &none      &none      &none          &kp PG_DN  &kp LARW   &kp DARW   &kp RARW   &none
			//╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
							     &trans	&trans	       &trans	  &trans
			//				   ╰──────────┴──────────╯   ╰──────────┴──────────╯
			>;
		};
};
